body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: radial-gradient(circle at top, #1a0033, #0a0014);
  color: white;
  text-align: center;
}

/* HEADER */
header {
  padding: 50px 20px;
}

.logo {
  width: 240px;
  display: block;
  margin: 0 auto;
  filter: drop-shadow(0 0 25px #a855f7);
  animation: glow 2s infinite alternate;
}

@keyframes glow {
  from {
    filter: drop-shadow(0 0 10px #7b2cbf);
  }
  to {
    filter: drop-shadow(0 0 30px #c77dff);
  }
}

h1 {
  font-size: 55px;
  margin: 10px 0;
  color: #c77dff;
  text-shadow: 0 0 20px #7b2cbf;
}

.subtitle {
  color: #aaa;
  letter-spacing: 2px;
}

/* PRODUCTS */
.products {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  padding: 40px;
}

.card {
  background: rgba(20, 0, 34, 0.9);
  border: 1px solid #7b2cbf;
  padding: 25px;
  width: 260px;
  border-radius: 15px;
  transition: 0.3s;
  box-shadow: 0 0 15px rgba(123, 44, 191, 0.3);
}

.card:hover {
  transform: scale(1.08);
  box-shadow: 0 0 35px #a855f7;
}

.price {
  font-size: 22px;
  color: #c77dff;
  margin: 10px 0;
  text-shadow: 0 0 10px #7b2cbf;
}

/* BUTTON */
button {
  background: linear-gradient(45deg, #7b2cbf, #c77dff);
  border: none;
  padding: 10px 22px;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px #c77dff;
}
